<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testumgebung für DevOps Engineering</title>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }
        img {
            width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Testumgebung für DevOps Engineering</h1>
        <img src="../ressources/green_tick.png" alt="Grüner Haken"> 
        <label for="checkbox">
            <input type="checkbox" id="checkbox" name="checkbox" checked disabled>
            Grüner Haken in einer Checkbox
        </label>
    </div>
</body>
</html>
